<template>
    <div id="Login">
        <h1>Login</h1>
        <br>
        <label for="emailField">Email: </label>
        <input v-bind:class="{'valid': isEmailValid}" type="email" id="emailField" v-model="user.email">
        <div v-if="isEmailValid">
            <br>
            <label for="passwordField">Password: </label>
            <input id="passwordField" v-model="user.password">
        </div>
    </div>
</template>

<script>
    export default {
        // name: 'Login',
        data () {
            return {
                user: {
                    email: "",
                    password: ""                    
                },
                filter: /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
            }
        },
        computed: {
            isEmailValid() {
                if (this.filter.test(this.user.email)){
                    AppVue.methods.loginConfirmed();
                }
                return this.filter.test(this.user.email);
            },
        }
    }
</script>

<style scoped>
    #Login {
        /* color: #7e7e7e; */
        padding: 20px;
        margin-top: 10px;
    }
    input {
        transition: box-shadow 0.2s linear;
        margin: 0.2em;
    }
</style>