<template>
      <div>
	    <p class="date_default">{{ date }}</p>
		<p class="time_default">{{ time }}</p>
      </div>
</template>

<script>
export default {
  // name: "app",
  data() {
    return {
      date: "",
      time: "",
      bacon: ""
    };
  },
  methods: {
    updateTime() {
      var dt = dateTime();
      this.time = dt.time;
      this.date = dt.date;
    },
    loginConfirmed() {
      this.isUserLoggedIn = true;
    },
    getBacon(pBacon) {
      bacon = pBacon;
    }
  },
  beforeMount() {
    setInterval(this.updateTime, 1000);
  },
  mounted() {
    axios
      .get("https://baconipsum.com/api/?callback=?", {
        type: "meat-and-filler",
        paras: "5"
      })
      .then(
        response =>
          (this.bacon =
            response.data.join(" ") +
            " " +
            response.data.join(" ") +
            " " +
            response.data.join(" "))
      );
  }
};

function dateTime() {
  var week = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
  var month = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];

  var now = new Date();
  var date = [now.getDate(), now.getMonth(), now.getFullYear()];
  var time = [now.getHours(), now.getMinutes()];

  var suffix = time[0] < 12 ? "AM" : "PM";
  // Convert hour from military time
  time[0] = time[0] < 12 ? time[0] : time[0] - 12;
  // If hour is 0, set it to 12
  time[0] = time[0] || 12;
  // If seconds and minutes are less than 10, add a zero
  for (var i = 1; i < 3; i++) {
    if (time[i] < 10) {
      time[i] = "0" + time[i];
    }
  }

  var dt = {
    date: [date[0], month[[1]], date[2], week[now.getDay()]].join(" "),
    time: [time[0], time[1]].join(":") + " " + suffix
  };

  return dt;
}
</script>

