/* This file should be reviewed. It's not optimal, but it works for now. */
.navbar {
    display: list-item;
}

/* Highlighting rules for nav menu items */
.nav-item a.active,
.nav-item a.active:hover,
.nav-item a.active:focus {
    background-color: #4189C7;
    color: white;
    text-decoration: underline;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }    
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar-collapse ul {
        float: none;
    }
    .nav-item {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .nav-item a {
        padding: 10px 16px;
        border-radius: 4px;
        color: white;
    }
    
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 95%; /* Bug to fix here. Width 100% overflow. */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /* margin-top: 60px; */
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  /*text-align: center;*/
  position: relative;
  left: 0%;
  top: 0%;
  /* transform: translate(-50%, -50%); */
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time_default {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

.date_default {
  letter-spacing: 0.1em;
  font-size: 24px;
}

.text {
  letter-spacing: 0.1em;
  font-size: 12px;
  padding: 20px 0 0;
}

html,
body {
  height: 99%;
}

body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* Validation */
/* input:invalid:not(:focus) { */
input:invalid,
.invalid {
  box-shadow: 0px 0px 20px 0px rgb(207, 22, 77);
}

input:focus:valid,
.valid {
  box-shadow: 0px 0px 20px 0px rgba(10, 175, 230, 1);
}

/* date time animation */
#stickydatetime {
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.datetime-easeup {
  letter-spacing: 0.1em;
  font-size: 14px;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* BACON */
#baconContainer {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  color: #00000078;
  font-size: 2em;
  text-shadow: 0 0 0px rgba(10, 175, 230, 0), 0 0 0px rgba(10, 175, 230, 0);
    height: 100vh;

}
.bacon-ipsum{
    overflow: hidden;
    height: 100vh;
}
